<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="card dashboard">

        <h1>🛡️ Security Dashboard</h1>

        <h2>
            Welcome, {{ username }}
        </h2>

        <div class="status-box">

            <h3>Account Status</h3>

            <p class="protected">
                Protected
            </p>

        </div>

        <div class="status-box">

            <h3>Security Features Enabled</h3>

            <ul>
                <li>bcrypt Password Hashing</li>
                <li>Input Validation</li>
                <li>Session Protection</li>
                <li>Two Factor Authentication</li>
            </ul>

        </div>

        <a href="/logout">
            <button>
                Logout
            </button>
        </a>

    </div>

</div>

</body>
</html>