<!DOCTYPE html>
<html>
<head>
    <title>Secure Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>🔐 Secure Login System</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if verify %}

        <div class="otp-box">

            <h2>Two Factor Authentication</h2>

            <p class="otp-code">
                {{ otp }}
            </p>

            <form action="/verify" method="POST">

                <input
                    type="text"
                    name="otp"
                    placeholder="Enter OTP"
                    required>

                <button type="submit">
                    Verify OTP
                </button>

            </form>

        </div>

        {% else %}

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Secure Login
            </button>

        </form>

        <p class="link">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

        {% endif %}

    </div>

</div>

</body>
</html>