<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>🛡️ Create Account</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="email"
                name="email"
                placeholder="Email"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <input
                type="password"
                name="confirm"
                placeholder="Confirm Password"
                required>

            <button type="submit">
                Register
            </button>

        </form>

        <p class="link">
            Already have an account?
            <a href="/">Login</a>
        </p>

    </div>

</div>

</body>
</html>